# Comment

In [1]:
# Single line comment..........
print("Hello,World!")

Hello,World!

In [2]:
# Multiple line comment.....
'''
This is a book.
Apple
Banana
'''
print("Hello, Vivek")

Hello, Vivek

# Variables

## Creating Variable

In [3]:
x = 5
y = "Vivek"
print(x)
print(y)

5
Vivek

In [4]:
x = 5  #x is of type int
x = "Vivek" #x is now of type str
print(x)

Vivek

In [8]:
x ="Vivek"
x ='Kumar'
print(x)

Kumar

In [7]:
x ="Vivek"
x = 5
print(x)

5

## Multiple Variable

In [9]:
x,y,z = "Orange","Apple","Cherry"
print(x)
print(y)
print(z)

Orange
Apple
Cherry

In [10]:
x = y = z = "Apple"
print(y)

Apple

## Output Variable

In [13]:
x = "awesome"
print("Python is" + " " + x)

Python is awesome

In [14]:
x = "Python is "
y = "awesome"
print(x+y)

Python is awesome

In [15]:
x = 5
y = 6
print(x+y)

11

In [16]:
# If you try to combine a string and a number, Python will give you an error
x = 5 
y = "vivek"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Global Variable

In [18]:
x = "awesome"
def myfun():
    print("Python is" + " " + x)
    
myfun()

Python is awesome

In [20]:
x = "awesome"
def myfun1():
    x = "Fantactic"
    print("Python is " + " " + x)
myfun1()

Python is  Fantactic

In [29]:
def myfun2():
    global x
    x = "awesome"
    
myfun2()   
print("Python is "+ " "+x)

Python is  awesome

In [31]:
x = "fantactic"
def myfun3():
    global x
    x = "awesome"
    
myfun3()   
print("Python is " + " "+x)

Python is  awesome

# Data Types

## Int

In [32]:
x = 5
print(type(x))

<class 'int'>

In [54]:
x = int(70)
print(type(x))

<class 'int'>

In [55]:
x = int(70)
print(x)

70

In [56]:
x = 1
y =344658
z = -54658
print(x)
print(y)
print(z)

1
344658
-54658

## Strings

In [33]:
x = "vivek"
print(type(x))

<class 'str'>

In [57]:
x = str("vivek")
print(type(x))

<class 'str'>

In [58]:
x = str("Hello,World!")
print(x)

Hello,World!

### Multiline Strings

In [81]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [82]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

In [83]:
x = "hello,world!"
print(x[1])

e

### Slicing

In [84]:
x = "hello,world!"
print(x[2:5])

llo

In [86]:
x = "hello,world!"
print(x[6:2])

In [87]:
x = "hello,world!"
print(x[-5:-2])

orl

### String Length

In [88]:
x = "hello,world!"
print(len(x))

12

### String Methods

In [89]:
# Strip Function
x = "hello,world!"
print(x.strip())

hello,world!

In [93]:
# Lower Function
x = "Hello,world!"
print(x.lower())

hello,world!

In [94]:
# Upper Function
x = "hello,world!"
print(x.upper())

HELLO,WORLD!

In [96]:
# Replace Function
x = "hello,world!"
print(x.replace("h","j"))

jello,world!

In [97]:
# Replace Function
x = "hello,world!"
print(x.replace("hello","vivek"))

vivek,world!

In [98]:
# Split Function
x = "hello,world!"
print(x.split(","))

['hello', 'world!']

### Check String

In [99]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [100]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

### String Concatenation

In [102]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### String Format

In [105]:
age = 24
x = "I name is Vivek  and I am" + age
print(x)

TypeError: can only concatenate str (not "int") to str

In [104]:
age = 24
x = "I name is Vivek and I am {}"
print(x.format(age))

I am Vivek I am 24

In [106]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [107]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Float

In [34]:
x = 20.5
print(type(x))

<class 'float'>

In [59]:
x = float(20.5)
print(type(x))

<class 'float'>

In [60]:
x = 1.10
y = 3.4
z = -34.456
print(x)
print(y)
print(z)

1.1
3.4
-34.456

In [61]:
# e is indicate power of 10.
x = 3e5
y = 12E4
z = -34e100
print(x)
print(y)
print(z)

300000.0
120000.0
-3.4e+101

## Boolean

In [35]:
x = True
print(type(x))

<class 'bool'>

In [62]:
x = bool(5)
print(type(x))

<class 'bool'>

In [127]:
a = 234
b = 33

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

### Evaluate Values and Variables

In [128]:
print(bool("hello"))

True

In [129]:
print(bool(5))

True

In [132]:
bool(["apple","cherry"])

True

In [134]:
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

In [135]:
# Functions can Return a Boolean
def myfun():
    return True

myfun()

True

In [137]:
def myFunction():
    return False

if myFunction():
    print("Yes!")
else:
    print("NO!")

NO!

In [138]:
x = 200
print(isinstance(x, int))

True

## List

In [36]:
x = ["Apple","Orange","Cherry"]
print(type(x))

<class 'list'>

In [63]:
x = list(("Apple","Orange","Cherry"))
print(type(x))

<class 'list'>

In [64]:
x = list(("Apple","Orange","Cherry"))
print(x)

['Apple', 'Orange', 'Cherry']

In [65]:
x = ["Apple","Orange","Cherry"]
print(x)

['Apple', 'Orange', 'Cherry']

In [157]:
x = ["Apple","Orange","Cherry"]
print(x[1])

Orange

In [158]:
x = ["Apple","Orange","Cherry"]
print(x[-1])

Cherry

In [159]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [160]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [161]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [162]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [163]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [164]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [165]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [168]:
thislist = ["apple", "banana", "cherry"]
if "orange" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print("No, 'orange' is not present in the fruits list")

No, 'orange' is not present in the fruits list

In [169]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [170]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [171]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [172]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [173]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [174]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [175]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [176]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [177]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [178]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [1]:
list1 = ["a","b","c"]
list2 = [1,2,3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [2]:
thislist = list(("apple","orange","cherry"))
print(thislist)

['apple', 'orange', 'cherry']

## Tuple

In [37]:
x = ("Apple","Orange","Cherry")
print(type(x))

<class 'tuple'>

In [66]:
x = tuple(("Apple","Orange","Cherry"))
print(type(x))

<class 'tuple'>

In [67]:
x = tuple(("Apple","Orange","Cherry"))
print(x)

('Apple', 'Orange', 'Cherry')

In [3]:
thislist = ("apple","cherry","orange")
print(thislist)

('apple', 'cherry', 'orange')

In [4]:
thislist = ("apple","cherry","orange")
print(thislist[1])

cherry

In [5]:
thislist = ("apple","cherry","orange")
print(thislist[-1])

orange

In [6]:
thislist = ("apple","cherry","orange","banana","mango","kiwi","melon")
print(thislist[2:5])

('orange', 'banana', 'mango')

In [7]:
thislist = ("apple","cherry","orange","banana","mango","kiwi","melon")
print(thislist[-4:-1])

('banana', 'mango', 'kiwi')

In [8]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [9]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [10]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [11]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [12]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [13]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [14]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Complex

In [38]:
x = 1j
print(type(x))

<class 'complex'>

In [69]:
x = complex(1j)
print(type(x))

<class 'complex'>

In [70]:
x = 3+4j
y = 5j
z = -5j
print(x)
print(y)
print(z)

(3+4j)
5j
(-0-5j)

## Range

In [40]:
x = range(6)
print(type(x))

<class 'range'>

## Dict

In [42]:
x = {"Name":"Vivek","age":24,"phone":9935162491}
print(type(x))

<class 'dict'>

In [74]:
x = dict(Name="Vivek",age=24,phone=9935162491)
print(x)

{'Name': 'Vivek', 'age': 24, 'phone': 9935162491}

## Set

In [43]:
x = {"Apple","Banana","Cherry"} # set
print(type(x))

<class 'set'>

In [75]:
x = set(("apple","orange","cherry"))
print(type(x))

<class 'set'>

In [76]:
x = set(("apple","orange","cherry"))
print(x)

{'apple', 'cherry', 'orange'}

## Frozenset

In [79]:
x = frozenset({"apple","banana","cherry"})
print(type(x))

<class 'frozenset'>

In [46]:
x = frozenset({"apple","banana","cherry"})
print(x)

frozenset({'apple', 'banana', 'cherry'})

In [80]:
x = frozenset(("apple","banana","cherry"))
print(x)

frozenset({'apple', 'banana', 'cherry'})

## Bytes

In [48]:
x = b"Hello" # Bytes
print(type(x))

<class 'bytes'>

## Byte Array

In [49]:
# Byte Array
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [50]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

## Memory View

In [51]:
# memory view
x = memoryview(bytes(5))
print(x)

<memory at 0x000001FD1C02C400>

In [52]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

# Escape Character

In [108]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-108-485014d8dfdf>, line 1)

In [110]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [112]:
# New Line
txt = "We are the so-called \n Vikings from the north."
print(txt)

We are the so-called
 Vikings from the north.

In [113]:
# Carriage Return
txt = "We are the so-called \r Vikings from the north."
print(txt)

 Vikings from the north.

In [114]:
# tab
txt = "We are the so-called \t Vikings from the north."
print(txt)

We are the so-called 	 Vikings from the north.

In [115]:
# Backspeace
txt = "We are the so-called \b Vikings from the north."
print(txt)

We are the so-called  Vikings from the north.

In [116]:
# From Feed
txt = "We are the so-called \f Vikings from the north."
print(txt)

We are the so-called  Vikings from the north.

In [118]:
# Converts the first character to upper case
txt = "we are the so-called \f Vikings from the north."
print(txt.capitalize())

We are the so-called  vikings from the north.

In [120]:
# Converts string into lower case
txt = "We are the so-called \f Vikings from the north."
print(txt.casefold())

we are the so-called  vikings from the north.

# Python Operators

In [144]:
x = 3
y = 6
c = x+y
print(c)

9

In [143]:
x = 3
y = 6

def myfunction():
    c = x+y
    print(c)

myfunction()

9

In [146]:
x = 6
y = 3
print(x-y)
print(y-x)
print(x-4)

3
-3
2

In [152]:
x = 16
y = 3
print(x/y)
print(y/x)  #division
print(x%y)  # Modulus
print(y%x)
print(x//y) #Floor division

5.333333333333333
0.1875
1
3
5

In [151]:
x = 6
y = 6
print(x*x)
print(x**x)  # Exponentiation

36
46656

In [155]:
d =+ 2
print(d)

2

In [156]:
d += 2
print(d)

4

# Set

In [15]:
thislist = {"apple","banana","cherry"}
print(thislist)

{'banana', 'cherry', 'apple'}

In [16]:
thislist = {"apple","banana","cherry"}
print(type(thislist))

<class 'set'>

## Access items

In [17]:
thislist = {"apple","banana","cherry"}

for x in thislist:
    print(x)

banana
cherry
apple

In [18]:
thislist = {"apple","banana","cherry"}
print("banana" in thislist)

True

## Change items

In [19]:
# Once a set is created, you cannot change its items, but you can add new items.
# Add
thisset = {"apple","banana","mango"}
thisset.add("orange")
print(thisset)

{'banana', 'mango', 'apple', 'orange'}

In [20]:
# Update Set
thisset = {"apple","banana","mango"}
thisset.update(["orange","kiwi","grapes"])
print(thisset)

{'grapes', 'orange', 'kiwi', 'banana', 'apple', 'mango'}

## Lrngth of set

In [21]:
thisset = {"apple","banana","kiwi"}
print(len(thisset))

3

## Remove item

In [23]:
# remove function
thisset = {"apple","banana","kiwi"}
thisset.remove("apple")
print(thisset)

{'kiwi', 'banana'}

In [24]:
# Discard function
thisset = {"apple","banana","kiwi"}
thisset.discard("apple")
print(thisset)

{'kiwi', 'banana'}

In [25]:
# Pop Function
thisset = {"apple","banana","kiwi"}
x = thisset.pop()
print(x)
print(thisset)

kiwi
{'banana', 'apple'}

In [26]:
# Clear Function
thisset = {"apple","banana","kiwi"}
thisset.clear()
print(thisset)

set()

In [27]:
thisset = {"apple","banana","kiwi"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

## Join Two set

In [28]:
set1 = {"apple","banana","kiwi"}
set2 ={1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'kiwi', 'banana', 'apple'}

In [31]:
set12 = {"apple","banana","kiwi"}
set22 ={1,2,3}
set33 = set22.union(set12)
print(set33)

{1, 2, 3, 'kiwi', 'banana', 'apple'}

In [30]:
set1 = {"apple","banana","kiwi"}
set2 ={1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'kiwi', 'banana', 'apple'}

# Dictionary

In [32]:
x = {"name":"vivek","age":24,"year":1995}
print(x)

{'name': 'vivek', 'age': 24, 'year': 1995}

## Accessing items

In [34]:
y = x["name"]
print(y)

vivek

In [35]:
z = x.get("age")
print(z)

24

## Change Values

In [36]:
x = {"name":"vivek","age":24,"year":1995}
x["year"] = 2000
print(x)

{'name': 'vivek', 'age': 24, 'year': 2000}

## Loop Through a Dictionary

In [37]:
for y in x:
    print(y)

name
age
year

In [38]:
for z in x:
    print(x[z])

vivek
24
2000

In [39]:
# Values function
for a in x.values():
    print(a)

vivek
24
2000

In [41]:
# items function
for y,z in x.items():
    print(y,z)

name vivek
age 24
year 2000

## Check if Key Exists

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Dictionary Length

In [43]:
print(len(thisdict))

3

## Add items

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Removing item

In [46]:
# Pop Function
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [48]:
# Popitem function :- removes the last inserted item 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [49]:
# del function
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [51]:
# Clear Function
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Copy a Dictionary

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [53]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [54]:
myfamily = {
    "child1" : {
        "name":"vivek",
        "year": 2008
    },
    "child2":{
        "name":"kumar",
        "year":2010
    },
    "child3":{
        "name":"Patel",
        "year":2012
    }
}
print(myfamily)

{'child1': {'name': 'vivek', 'year': 2008}, 'child2': {'name': 'kumar', 'year': 2010}, 'child3': {'name': 'Patel', 'year': 2012}}

# Python if else statement

## if statement

In [57]:
a = 30
b = 200

if b>a:
    print("b is greater than a")

b is greater than a

## Elif statement

In [59]:
a = 33
b = 33

if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

## Else Statement

In [61]:
a = 200
b = 33

if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [62]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [63]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [64]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## And

In [65]:
a = 200
b = 33
c = 500
if a>b and c>a:
    print("Both, Condition are True")

Both, Condition are True

## Or

In [68]:
a = 200
b = 33
c = 500
if a>b or a>c:
    print("At least one condition are True")

At least one condition are True

## Nested if

In [69]:
x = 41

if x>10:
    print("Above ten")
    if x>20:
        print("and also above 20!")
    else:
        print("but not above 20!")

Above ten
and also above 20!

## Pass Statement

In [70]:
a = 33
b = 200

if b > a:
    pass

# The While Loop

In [71]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The break Statement

In [72]:
i = 1
while i<6:
    print(i)
    if i == 3:
        break
    i +=1

1
2
3

In [73]:
i = 0
while i<6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## The else Statement

In [74]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For Loop

In [75]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

## Looping Through a String

In [76]:
for x in "banana":
    print(x)

b
a
n
a
n
a

## The break Statement

In [77]:
fruits = ["apple","banana","grapes"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [78]:
fruits = ["apple","banana","grapes"]
for x in fruits:
    print(x)
    if x == "banana":
        break
    print(x)

apple
apple
banana

## The continue Statement

In [79]:
fruits = ["apple","banana","grapes"]
for x in fruits:
    print(x)
    if x == "banana":
        continue

apple
banana
grapes

In [80]:
fruits = ["apple","banana","grapes"]
for x in fruits:
    print(x)
    if x == "banana":
        continue
    print(x)

apple
apple
banana
grapes
grapes

## The range() Function

In [81]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [82]:
for x in range(2,6):
    print(x)

2
3
4
5

In [83]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

## Else in For Loop

In [85]:
for x in range(6):
    print(x)
else:
    print("Finally Finished!")

0
1
2
3
4
5
Finally Finished!

## Nested Loops

In [86]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","grapes"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red grapes
big apple
big banana
big grapes
tasty apple
tasty banana
tasty grapes

# Function

In [89]:
def my_function():
    print("Hello My Function")
my_function()

Hello My Function

## Arguments

In [93]:
def my_function(fname):
    print(fname + " "+ "Refsnes")
    
my_function("Email")

Email Refsnes

## Number of Arguments

In [94]:
def my_function(fname,lname):
    print(fname + " " + lname)
    
my_function("Email","Refsens")

Email Refsens

In [95]:
def my_function(fname,lname):
    print(fname + " " + lname)
    
my_function("Email")

TypeError: my_function() missing 1 required positional argument: 'lname'

## Arbitrary Arguments, *args

In [97]:
def my_function(*kids):
    print("The youngest child" + " " + kids[2])
    
my_function("Emil","Tobias","Linus")

The youngest child Linus

In [98]:
def my_function(*kids):
    print("The youngest child" + " " + kids[0])
    
my_function("Emil","Tobias","Linus")

The youngest child Emil

In [99]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## Arbitrary Keyword Arguments, **kwargs

In [101]:
def my_function(**kid):
    print("His last name is" + " " + kid["lname"])
    
my_function(fname="Tabias",lname="Refenes")

His last name is Refenes

## Default Parameter Value

In [102]:
def my_function(country="Norway"):
    print("I am from" + " " + country)
    
my_function("Sweden")

I am from Sweden

In [103]:
my_function()

I am from Norway

## Passing a List as an Argument

In [112]:
def my_function(food):
    for x in food:
        print(x)

In [113]:
fruits = ["apple","cherry","banana"]

In [115]:
my_function(fruits)

apple
cherry
banana

## Return Values

In [116]:
def my_function(x):
    return  5*x

my_function(3)

15

## Recursion

In [117]:
def tri_recursion(k):
    if (k>0):
        results = k + tri_recursion(k - 1)
        print(results)
    else:
        results = 0
    return results

print("\n\Recursion Example Results")
tri_recursion(6)

\Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda

In [118]:
x = lambda a : a + 10
print(x(5))

15

In [119]:
x = lambda a,b : a*b
print(x(5,4))

20

In [120]:
x = lambda a,b,c:a+b+c
print(x(2,4,4))

10

In [121]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [122]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Arrays

In [1]:
cars = ["Ford","BMW","Volvo"]

In [3]:
x = cars[0]
print(x)

Ford

In [4]:
cars[0] = "Toyota" # Modify the value

In [5]:
cars

['Toyota', 'BMW', 'Volvo']

In [6]:
# Length
print(len(cars))

3

In [7]:
# Looping array elements
for x in cars:
    print(x)

Toyota
BMW
Volvo

In [9]:
# Adding the array element
cars.append("Honda")
print(cars)

['Toyota', 'BMW', 'Volvo', 'Honda', 'Honda']

In [10]:
# Removing array element
cars.pop(3)
print(cars)

['Toyota', 'BMW', 'Volvo', 'Honda']

In [11]:
cars.remove("Honda")
print(cars)

['Toyota', 'BMW', 'Volvo']

# Python Classes and Objects

In [12]:
# Create class
class MyClass:
    x = 5

In [13]:
# Create object
p1 = MyClass()
print(p1.x)

5

## The __init__() Function

In [16]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1 = person("Vivek",24)

print(p1.name)
print(p1.age)

Vivek
24

## Object Methods

In [18]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def myfun(self):
        print("My name is" + " " + self.name)
        
p1 = person("Vivek",24)
p1.myfun()

My name is Vivek

## Modify Object Properties

In [19]:
p1.age = 25

## Delete Object Properties

In [20]:
del p1.age

In [21]:
del p1

# Python Inheritance

## Create a Parent Class

In [25]:
class person:
    def __init__(self,fname,lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
        
p1 = person("Vivek","Kumar") 
print(p1.printname())

Vivek Kumar
None

## Create a child class

In [26]:
class student(person):
    pass

In [28]:
x = student("Lalu","Singh")
x.printname()

Lalu Singh

## Add the __init__() Function

In [29]:
class student(person):
    def __init__(self,fname,lname):
        person.__init__(self,fname,lname)

## Use the super() Function

In [37]:
class student(person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduationyear = year

In [38]:
x = student("Mike","Olsen",2019)

In [40]:
class Student(person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

# Python Iterators

In [41]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [42]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [43]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

In [44]:
mystr = "banana"

for x in mystr:
    print(x)

b
a
n
a
n
a

In [47]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        x = self.a
        self.a += 1
        return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

## StopIteration

In [48]:
class MyNumbers:
      def __iter__(self):
        self.a = 1
        return self

      def __next__(self):
        if self.a <= 20:
                      x = self.a
                      self.a += 1
                      return x
        else:
            raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)
for x in myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Python Scope

## Local Scope

In [49]:
def myfun():
    x = 300
    print(x)
    
myfun()

300

In [51]:
def myfunc():
    x = 300
    def myinnerfunc():
        print(x)
        myinnerfunc()

myfunc()

## Global Scope

In [52]:
x = 300

def myfunc():
    print(x)

myfunc()

print(x)

300
300

In [53]:
x = 300

def myfunc():
    x = 200
    print(x)

myfunc()

print(x)

200
300

## Global Keyword

In [55]:
def myfunc():
    global x
    x = 300

myfunc()

print(x)

300

# Python Modules

In [56]:
def greeting(name):
    print("Hello, " + name)

# Python Datetime

In [58]:
import datetime

x = datetime.datetime.now()
print(x)

2020-10-02 10:35:32.338547

In [59]:
x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2020
Friday

## Creating Date Objects

In [61]:
import datetime

x = datetime.datetime(2020, 5, 17)
print(x)

2020-05-17 00:00:00

## The strftime() Method

In [62]:
x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

# Python Math

In [63]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [64]:
x = abs(-7.25)

print(x)

7.25

In [65]:
x = pow(4, 3)

print(x)

64

In [66]:
import math

x = math.sqrt(64)

print(x)

8.0

In [67]:
x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [68]:
x = math.pi

print(x)

3.141592653589793

# Python JSON

In [69]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [70]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [71]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [72]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

## Format the Result

In [73]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [74]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

## Order the Result

In [75]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# Python RegEx

In [77]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [78]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [79]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

## The search() Function

In [80]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

## The split() Function

In [81]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

## The sub() Function

In [82]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

## Match Object

In [83]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [84]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [86]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)
(12, 17)

In [87]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [88]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

# Python Try Except

In [89]:
try:
    print(x)
except:
    print("An exception occurred")

<re.Match object; span=(12, 17), match='Spain'>

## Many Exceptions

In [90]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

<re.Match object; span=(12, 17), match='Spain'>

## Else

In [91]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Hello
Nothing went wrong

## Finally

In [92]:
try:
    print(x)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

<re.Match object; span=(12, 17), match='Spain'>
The 'try except' is finished

In [93]:
try:
    f = open("demofile.txt")
    f.write("Lorum Ipsum")
except:
    print("Something went wrong when writing to the file")
finally:
    f.close()

Something went wrong when writing to the file

NameError: name 'f' is not defined

## Raise an exception

In [94]:
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [95]:
x = "hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# Python User Input

In [96]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:vivek
Username is: vivek

# Python String Formatting

In [101]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [102]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.